:root { 
    --primary-color: #14213d;
    --secondary-color: #e9ecef;
    --third-color: #fca311;
    --white-color: #ffffff;
}

body { 
    background: var(--secondary-color);
}

#side_nav {
  background: var(--primary-color);
  min-width: 250px;
  max-width: 250px;
  transition: all 0.3s;
}

.content { 
    min-height: 100vh;
    width: 100%;
}

hr.h-color { 
    background: var(--third-color);
}

.sidebar li.active { 
    background: var(--third-color);
    border-radius: 8px;
}

.sidebar li.active a, .sidebar li.active a:hover { 
    color: var(--primary-color);
}

.sidebar li a { 
    color: var(--secondary-color);
}

@media(max-width: 767px) {
    #side_nav {
        margin-left: -250px;
        position: fixed;
        min-height: 100vh;
        z-index: 1;
    }

    #side_nav.active {
        margin-left: 0px;
    }
}

.navbar-custom { 
    background: var(--primary-color);
}

.container-rounded {
    background: var(--white-color);
    border-radius: 8px;
    box-shadow: inset;

}

td, th{ 
    text-align: center;
}